<!DOCTYPE html>
<html>

<head>
    {% block head %}
        <title>{% block title %}{% endblock %} - {{ config.APPNAME }}</title>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
        {% endwith %}
    {% endblock %}

    <!-- Latest compiled and minified CSS -->
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">#}

    <!-- Optional theme -->
    {#    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">#}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!--    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
</head>

<body>
<div id="content">{% block content %}{% endblock %}</div>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/script.js') }}"></script>
</body>

</html>
